* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial;
background: linear-gradient(135deg, #4facfe, #00f2fe);
padding: 20px;
text-align: center;
color: #333;
}

header {
color: white;
margin-bottom: 10px;
}

button, select {
padding: 8px;
margin: 5px;
border-radius: 15px;
border: none;
cursor: pointer;
}

#current-weather {
background: white;
padding: 20px;
border-radius: 20px;
margin: 10px auto;
max-width: 420px;
}

.temperature {
font-size: 3rem;
color: #ff6b6b;
}

.condition img {
width: 60px;
}

#forecast {
background: white;
padding: 20px;
border-radius: 20px;
margin: 10px auto;
max-width: 420px;
}

.forecast-container {
display: flex;
gap: 10px;
overflow-x: auto;
}

.forecast-day {
background: #f5f7fb;
padding: 10px;
border-radius: 15px;
min-width: 120px;
}

#hourly {
background: white;
padding: 15px;
border-radius: 20px;
margin: 10px auto;
max-width: 420px;
}

#hourlyContainer {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
}

.hour-card {
background: #f5f7fb;
padding: 10px;
border-radius: 10px;
font-size: 0.8rem;
}